/Labs/Lab2/Greeter/nbproject/private/
/Labs/Lab2/Greeter/dist/
/Labs/Lab2/Greeter/build/
/Labs/JUnitLab/nbproject/private/
/Labs/h/nbproject/private/
/Labs/JUnitSampleSol/nbproject/private/
/Labs/JUnitLab/JUnitLab/nbproject/private/
/Labs/JUnitLab/build/
/MovingCars/nbproject/private/
/MovingCars/build/